.card__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
}
.card {
  margin: 10px;
  a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-weight: 700;
    img {
      box-shadow: 0 5px 9px rgba($color: #5e5e5e, $alpha: 0.25);
    }
  }
  a:hover {
    color: #cd85db;
    transition: 1.1s;
    img {
      box-shadow: none;
      transition: 1.1s;
    }
  }
}

.card__bilde {
  object-fit: cover;
  width: 580px;
  height: auto;
}

@media screen and (max-width: 1363px) {
  .card__bilde {
    width: 480px;
  }
}
@media screen and (max-width: 1016px) {
  .card__bilde {
    object-fit: cover;
    width: 400px;
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .card__bilde {
    object-fit: cover;
    width: 500px;
    height: auto;
  }
}

@media screen and (max-width: 540px) {
  .card__bilde {
    object-fit: cover;
    width: 400px;
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .card__bilde {
    object-fit: cover;
    width: 370px;
    height: auto;
  }
}
