.malerier__bilde {
  position: relative;
  width: 400px;
  height: 400px;
object-fit:contain;
}

.malerier {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.malerier__link {
  text-decoration: none;
}
.malerier__link:visited {
  color: #000;
}

.malerier__info {
  text-align: center;

  &--tittel {
    color: #000;
    text-transform: capitalize;
    font-weight: 400;
    text-decoration: none;
  }
  &--pris {
    font-weight: 300;
    text-decoration: underline solid #9c5993 1px;
  }
}

.malerier h1 {
  width: 100%;
  text-align: center;
}
